<footer class="container-fluid bg-dark ">
  <div class="row align-items-center h-100 p-1">
    <div class="col-md p-2 text-center">
      <a accesskey="U" href="https://uniandes.edu.co/"><img
        class="uniandes-logo"
        src="assets/images/uniandes.svg"
        alt="Logo Uniandes"
      /></a>
    </div>
    <div class="col-md p-2 text-white text-center">
      <div class="fs-4">EQUIPO 24</div>
      <div>Alejandra Niño</div>
      <div>Walter Cuadros</div>
      <div>Oscar Buitrago</div>
    </div>
    <div class="col-md p-2 text-center">
      <a accesskey="M" href="https://sistemas.uniandes.edu.co/es/miso"><img class="miso-logo mr-5" src="assets/images/miso.svg" alt="Logo MISO" />
      <span class="miso-text text-white fs-4">MISO</span></a>
    </div>
  </div>
</footer>
